@charset "UTF-8";
/*ESTRUCTURA*/
html {
  font-size: 62.5%; }

body {
  background-color: black; }

/*Mobile - Tablet*/
header {
  background-color: #454B35; }

.contenedor {
  background: linear-gradient(to bottom, #1d1d1d3b, rgba(0, 0, 0, 0.541));
  margin-bottom: 3%;
  margin-top: 3%; }

h1, .pseudoh1 {
  display: inline-block;
  color: #006400;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; }

h2 {
  color: #366936;
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: 'Antonio', sans-serif; }

h3 {
  color: #545852;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: 'Antonio', sans-serif; }

p {
  color: #eee1e1;
  font-size: 2rem;
  letter-spacing: 0px;
  font-family: 'Source Sans Pro', sans-serif; }

.iconosTitulos__iconos {
  margin: 2%; }

.iconosTitulos {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center; }

/*Menu*/
.navbar-brand {
  margin-left: 10%; }

nav ul {
  font-family: 'Kurale', serif;
  font-size: 1.8rem; }

.itemMenu a {
  color: white; }

.itemMenu a:hover {
  background-color: #c1c1c14d;
  color: #313030; }

.itemMenu ul {
  background-color: #004d00d3;
  font-size: 1.8rem; }

.btnHamburguesa {
  font-size: xx-large; }

/*Footer*/
.footer {
  background: linear-gradient(rgba(141, 137, 137, 0.7), rgba(143, 141, 141, 0.7));
  background-size: cover; }

.first {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #cecece;
  font-family: 'Poppins', sans-serif; }

.first h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em; }

.first h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0; }

.first p {
  font-size: 14px; }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #cecece;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #cecece;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em; }

.second h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%; }

.second li {
  list-style: none;
  padding-bottom: 30px; }

.second a, .second2 a {
  color: #cecece;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.second a:hover, .second2 a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black;
  text-decoration: none; }

.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #cecece;
  font-family: 'Poppins', sans-serif;
  text-align: right; }

.third h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em; }

.third h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%; }

.third li {
  list-style: none;
  padding-bottom: 15px; }

.third a {
  color: #cecece;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.third a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black; }

.footer__madeBy {
  color: #000;
  text-align: right;
  font-size: 1.2rem;
  font-family: 'Nova Slim', cursive;
  margin-top: -40px; }
  .footer__madeBy a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f0b24;
    text-decoration: none; }

/*FIN ESTRUCTURA*/
/*INDEX*/
.presentacion {
  margin-top: 3%;
  margin-bottom: 3%;
  display: grid;
  grid-template: "hoja tituloPrincipal" "hoja eslogan"; }

.presentacion__hoja {
  grid-area: hoja;
  justify-self: end; }

.presentacion__tituloPrincipal {
  grid-area: tituloPrincipal;
  justify-self: start; }

.presentacion__eslogan {
  color: #42a432;
  font-family: 'Dancing Script', cursive;
  margin-top: -18px;
  margin-left: 150px;
  grid-area: eslogan; }

/*Carousel*/
.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 3rem; }

.titleCarousel {
  display: flex;
  flex-direction: column; }
  .titleCarousel img {
    justify-self: start;
    width: 8%;
    margin-left: 150px; }
  .titleCarousel p {
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Sriracha', cursive;
    color: black;
    float: left;
    width: 40%;
    text-shadow: #585656 0.2em 0.2em 0.2em; }

/*Nosotros*/
.centrar {
  border-top: 2px solid #006400;
  display: flex;
  flex-direction: column;
  align-items: center; }

.centrar__nosotrosIzq {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.centrar__nosotrosDer {
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.imagenNosotros {
  margin: 20px;
  width: 50%; }

/*Nuestros Productos*/
.iconNuestrosProductos {
  font-size: 5.5rem;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 100px;
  color: #42a432; }

.contenedorNuestrosProductos {
  display: flex;
  flex-direction: column; }

.contenedorNuestrosProductos__contenido {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #006400;
  margin-top: 15px; }

.listaNuestrosProductosNot {
  display: flex;
  font-size: 2rem;
  color: red; }
  .listaNuestrosProductosNot i {
    padding-right: 5%; }

.listaNuestrosProductos {
  display: flex;
  font-size: 2rem;
  margin-left: 3%;
  color: green; }
  .listaNuestrosProductos i {
    padding-right: 5%; }

.contenedorNuestrosProductos__parrafoConclusion {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5%; }

/* .contenedorNuestrosProductos {
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: "title" 
   "nuestrosProductosIzq" "acelga" "nuestrosProductosDer" 
   "parrafoConclusion"; }
  

.contenedorNuestrosProductos__title {
    width: 100%;
    border-bottom: 2px solid $verdePrincipal;
    margin: 20px;
    grid-area: title; }
  
.contenedorNuestrosProductos__Izq {
    grid-area: nuestrosProductosIzq;
    text-align: center; }
  

.contenedorNuestrosProductos__Der {
        grid-area: nuestrosProductosDer;
        text-align: center; }
  
  
.contenedorNuestrosProductos__acelga {
    grid-area: acelga;
    display: block;
    width: 50%;
    margin: auto; }
  
  
.contenedorNuestrosProductos__parrafoConclusion {
    margin: 20px;
    grid-area: parrafoConclusion;
    font-weight: bold;
    text-align: center;
    font-size: $tamanioFuentePrincipal - 0.2; }
 */
/*Contacto*/
.contactoTitle {
  border-bottom: 2px solid #006400;
  margin: 20px; }

/*Estilo a los placeholders, botones y textos del contacto*/
::-webkit-input-placeholder {
  font-size: 1.5rem; }

::-moz-placeholder {
  font-size: 1.5rem; }

:-ms-input-placeholder {
  font-size: 1.5rem; }

.contactoBoton, .contactoBoton--seleccioneDepartamento {
  font-size: 1.5rem; }

.contactoBoton--seleccioneDepartamento {
  color: #5f5e5e; }

/*FIN INDEX*/
/*FRUTAS Y VERDURAS*/
.presentacionShop {
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)), url(../multimedia/shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.presentacionShop__h1 {
  color: white;
  padding: 2%;
  border: 1px solid white; }

.categoryShop__title {
  text-align: center;
  font-size: 3.5rem; }

.categoryShop__menu {
  margin-bottom: 2%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center; }
  .categoryShop__menu a {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    display: block;
    font-size: 2rem;
    font-family: 'Nova Slim', cursive; }
  .categoryShop__menu li {
    list-style: none; }

.rowShop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 2rem; }

.productCard {
  width: 95%;
  height: 65vh;
  background: linear-gradient(145deg, #ffffff, #c4c6c9);
  border-radius: 10%;
  box-shadow: 2px 2px 10px #d1d2d3, -2px -2px 10px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-bottom: 8%; }
  .productCard div {
    text-align: center;
    margin: 2%; }

.productoCantidad {
  font-size: 1.5rem; }

.cantidadInput {
  text-align: center;
  width: 30%;
  font-size: 1.5rem; }

.btnAdd {
  display: block;
  width: 12vw;
  height: 6vh;
  margin: 2%;
  font-size: 1.3rem;
  transition: all .5s ease;
  position: relative; }

.btnAdd:hover {
  background: #1e9700bd;
  color: #fff !important; }

.scale {
  -webkit-transition: .5s linear;
  transition: 1s linear; }

.scale:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/*FIN FRUTAS Y VERDURAS*/
/*OFERTAS*/
.nuevo {
  font-size: 1.2rem; }

.rowOferta {
  display: grid;
  grid-template-columns: 1fr; }

.cardOferta {
  border-radius: 5%;
  margin: 5%;
  align-items: center; }
  .cardOferta img {
    margin: 8%; }

.textoOfertas__title {
  margin-top: 8%;
  width: 100%;
  text-align: center; }

.textoOfertas__price {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10%;
  text-align: center; }

.btnOfertaVerDetalle {
  font-family: 'Nova Slim', cursive;
  font-size: 1.5rem;
  color: #006400;
  display: block;
  border: 1px solid green;
  background-color: #83e67f;
  padding: 5%;
  height: 7vh;
  color: green;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }

.btnOfertaVerDetalle:hover {
  background: #1e9700bd;
  color: #fff !important; }

/*FIN OFERTAS*/
/*PAGINAS DESCRIPCION DE CADA OFERTA*/
.backOfertas {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Nova Slim', cursive; }

.descripcion {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.descripcion__imgOferta {
  width: 80%; }

.descripcion__contenido, .descripcion__contenido--below {
  font-size: 2rem;
  padding: 2%;
  text-align: center; }

.descripcion__contenido--below {
  margin-top: 5%;
  font-weight: bold; }

.descripcion__downArrow {
  display: block;
  margin: auto; }

.centrarProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 3%; }

.centrarProductos_detalladoProductos {
  display: flex;
  align-items: center; }
  .centrarProductos_detalladoProductos p {
    padding: 2%;
    font-weight: bold; }

.priceDetallado {
  text-align: center;
  font-size: 3.5rem;
  border: 1px solid white;
  color: white;
  padding: 2%;
  margin: 2%; }

.btnDetallado {
  display: block;
  font-size: 2rem;
  font-family: 'Nova Slim', cursive;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer; }

.btnAnimationDetallado {
  color: #305c30;
  font-weight: bold;
  transition: all 0.5s;
  position: relative; }

.btnAnimationDetallado::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(160, 231, 131, 0.178);
  transition: all 0.3s; }

.btnAnimationDetallado:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5); }

.btnAnimationDetallado::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #006400;
  transform: scale(1.2, 1.2); }

.btnAnimationDetallado:hover::after {
  opacity: 1;
  transform: scale(1, 1); }

.volverArriba {
  text-align: center;
  margin-top: 10%; }

/*FIN PAGINAS DESCRIPCION DE CADA OFERTA*/
/*Página 404*/
.backgroundColor404 {
  background-color: white; }

.mainPage404 {
  display: flex; }
  .mainPage404 div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainPage404 div p {
      text-align: center;
      color: #000;
      font-size: 3rem;
      font-weight: bold; }

.boton404 {
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006400;
  border-radius: 6px;
  border: 2px solid #006400; }

.boton404:hover {
  color: #006400;
  background-color: #ffffff; }

/*FIN Página 404*/
/*MEDIA QUERIES*/
/*Header*/
@media only screen and (min-width: 1024px) {
  /*Desktop*/
  header {
    position: sticky;
    top: 0;
    z-index: 1000; } }

/*FIN Header*/
/*Footer*/
@media screen and (max-width: 1000px) {
  .first {
    text-align: center; }
  .first h4::after {
    left: 40%; } }

@media screen and (max-width: 1000px) {
  .third {
    text-align: center; }
  .third h4::after {
    left: 40% !important; } }

.marginSocial {
  margin-left: 20px; }

.line {
  height: 2px;
  background-color: #cecece;
  width: 100%; }

/*FIN Footer*/
/*Index*/
@media only screen and (min-width: 1024px) {
  .centrar {
    border-top: 2px solid #006400;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .centrar__nosotrosIzq {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center; }
  .centrar__nosotrosDer {
    text-align: right;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center; }
  .imagenNosotros {
    margin: 20px;
    width: 20%; } }

/* @media only screen and (min-width: 1024px) {
    .contenedorNuestrosProductos {
      margin-top: 100px;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template: "title title title" 
        "nuestrosProductosIzq acelga nuestrosProductosDer" 
        "parrafoConclusion parrafoConclusion parrafoConclusion"; } }

@media only screen and (min-width: 600px) {
    /*Tablet*/
/* .contenedorNuestrosProductos__Izq {
        text-align: right; } }
    
@media only screen and (min-width: 1024px) {
     */
/*Desktop*/
/*  .contenedorNuestrosProductos__Izq {
        text-align: right; } }

@media only screen and (min-width: 600px) {
    */
/*Tablet*/
/*     .contenedorNuestrosProductos__Der {
        text-align: left; } }
    
@media only screen and (min-width: 1024px) {
 */
/*Desktop*/
/*     .contenedorNuestrosProductos__Der {
        text-align: left; } }


@media only screen and (min-width: 600px) {
 */
/*Tablet*/
/*     .contenedorNuestrosProductos__acelga {
        width: 70%; } }
    
@media only screen and (min-width: 1024px) {
 */
/*Desktop*/
/*    .contenedorNuestrosProductos__acelga {
        width: 90%; } }

@media only screen and (min-width: 600px) { */
/*Tablet*/
/* 
    .contenedorNuestrosProductos__parrafoConclusion {
        font-size: $tamanioFuentePrincipal+0.5; } }
    
@media only screen and (min-width: 1024px) { */
/*Desktop*/
/* 
    .contenedorNuestrosProductos__parrafoConclusion {
        font-size: $tamanioFuentePrincipal+0.8; } } */
/*FIN Index*/
/*Paginas de Frutas y Verduras*/
@media only screen and (min-width: 600px) {
  /*Tablet*/
  .rowShop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; } }

@media only screen and (min-width: 1024px) {
  /*Desktop*/
  .rowShop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; } }

/*FIN Paginas de Frutas y Verduras*/
/*Pagina de Ofertas*/
@media only screen and (min-width: 600px) {
  /*Tablet*/
  .rowOferta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; } }

@media only screen and (min-width: 1024px) {
  /*Desktop*/
  .rowOferta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; } }

/*FIN Pagina de Ofertas*/
/*Paginas de detalle de Ofertas*/
@media only screen and (min-width: 600px) {
  /*Tablet*/
  .descripcion {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center; } }

@media only screen and (min-width: 1024px) {
  /*Desktop*/
  .descripcion {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center; } }

@media only screen and (min-width: 600px) {
  /*Tablet*/
  .descripcion__contenido, .descripcion__contenido--below {
    font-size: 2rem; } }

@media only screen and (min-width: 1024px) {
  /*Desktop*/
  .descripcion__contenido, .descripcion__contenido--below {
    font-size: 2rem; } }

/*FIN Paginas de detalle de Ofertas*/
/*FIN MEDIA QUERIES*/
