@charset "UTF-8";
/*ESTRUCTURA*/
html {
  font-size: 62.5%; }

body {
  background-color: black; }

/*Mobile - Tablet*/
header {
  background-color: #004d00; }

.contenedor {
  background: linear-gradient(to bottom, #1d1d1d3b, rgba(0, 0, 0, 0.541));
  margin-bottom: 3%;
  margin-top: 2%; }

h1, .pseudoh1 {
  display: inline-block;
  color: #006400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; }

h2 {
  color: #006400;
  font-size: 1rem;
  letter-spacing: 0;
  font-family: 'Antonio', sans-serif; }

h3 {
  color: #545852;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: 'Antonio', sans-serif; }

p {
  color: #faf0f0;
  font-size: 2rem;
  letter-spacing: 0px;
  font-family: 'Source Sans Pro', sans-serif; }

.iconosTitulos__iconos {
  margin: 2%; }

.iconosTitulos {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
  width: 100%; }

/*Menu*/
.navbar-brand {
  margin-left: 10%; }

.itemMenu a {
  color: #faf0f0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.itemMenu a:hover {
  background-color: #c1c1c14d;
  color: #000; }

.submenu:focus {
  color: #000; }

.itemMenu ul {
  background-color: #004d00d3;
  font-size: 1.8rem; }

.cart {
  font-size: 2rem;
  text-decoration: none;
  color: #faf0f0; }

.cart:hover {
  color: #000; }

/*Footer*/
.footer {
  background: linear-gradient(rgba(141, 137, 137, 0.7), rgba(143, 141, 141, 0.7));
  background-size: cover; }

.first {
  margin-top: 40px;
  margin-bottom: 20px; }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #faf0f0;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #faf0f0;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #faf0f0;
  padding-bottom: 0.5em; }

.second h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%; }

.second li {
  list-style: none;
  padding-bottom: 30px; }

.second a, .second2 a {
  color: #faf0f0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.second a:hover, .second2 a:hover {
  color: #faf0f0;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black;
  text-decoration: none; }

.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #faf0f0;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.third h4 {
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #faf0f0;
  padding-bottom: 0.5em; }

.third h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%; }

.third li {
  list-style: none;
  padding-bottom: 15px; }

.third a {
  color: #faf0f0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.third a:hover {
  color: #faf0f0;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black; }

.marginSocial {
  margin-left: 20px; }

.line {
  height: 2px;
  background-color: #faf0f0;
  width: 100%; }

.footer__madeBy {
  color: #000;
  text-align: left;
  font-size: 1.2rem;
  margin-top: -40px;
  font-weight: bold; }
  .footer__madeBy a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f0b24;
    text-decoration: none; }

/*FIN ESTRUCTURA*/
/*INDEX*/
.presentacion {
  margin-top: 3%;
  margin-bottom: 3%;
  display: grid;
  grid-template: "hoja tituloPrincipal" "hoja eslogan"; }

.presentacion__hoja {
  justify-self: end;
  grid-area: hoja; }

.presentacion__tituloPrincipal {
  grid-area: tituloPrincipal;
  justify-self: start; }

.presentacion__eslogan {
  display: none;
  color: #42a432;
  font-family: 'Dancing Script', cursive;
  justify-self: center;
  margin-top: -2%;
  margin-right: 20%;
  grid-area: eslogan; }

/*Carousel*/
.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 3rem; }

.titleCarousel {
  display: flex;
  flex-direction: column; }
  .titleCarousel img {
    justify-self: start;
    width: 8%;
    margin-left: 40px; }
  .titleCarousel p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Sriracha', cursive;
    color: black;
    float: left;
    width: 40%;
    text-shadow: #585656 0.2em 0.2em 0.2em; }

/*Nosotros*/
.centrar {
  border-top: 2px solid #006400;
  display: flex;
  flex-direction: column;
  align-items: center; }

.centrar__nosotrosIzq {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.centrar__nosotrosDer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.imagenNosotros {
  margin: 20px; }

/*Nuestros Productos*/
.iconNuestrosProductos {
  font-size: 5.5rem;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 100px;
  color: #42a432; }

.contenedorNuestrosProductos {
  display: flex;
  flex-direction: column; }

.contenedorNuestrosProductos__contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid #006400;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto; }

.listaNuestrosProductosNot {
  display: flex;
  font-size: 2rem;
  color: red; }
  .listaNuestrosProductosNot i {
    padding-right: 5%; }

.listaNuestrosProductos {
  display: flex;
  font-size: 2rem;
  margin-left: 3%;
  color: green; }
  .listaNuestrosProductos i {
    padding-right: 5%; }

.contenedorNuestrosProductos__parrafoConclusion {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5%; }

/*Contacto*/
.contacto__contenido {
  border-top: 2px solid #006400;
  margin-top: 15px; }

.contacto__contenido--padding {
  padding-top: 4%; }

.contactoBoton, .contactoBoton--seleccioneDepartamento {
  color: #faf0f0; }

/*Estilo a los placeholders, botones y textos del contacto*/
::-webkit-input-placeholder {
  font-size: 1.5rem; }

::-moz-placeholder {
  font-size: 1.5rem; }

:-ms-input-placeholder {
  font-size: 1.5rem; }

.contactoBoton, .contactoBoton--seleccioneDepartamento {
  font-size: 1.5rem; }

.contactoBoton--seleccioneDepartamento {
  color: #5f5e5e; }

/*FIN INDEX*/
/*FRUTAS Y VERDURAS*/
.presentacionShop {
  background: url(../multimedia/shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.presentacionShop__h1 {
  color: #faf0f0;
  padding: 2%;
  border: 3px solid #faf0f0;
  text-shadow: 5px 2px 2px #004d00;
  box-shadow: 5px 2px 2px #004d00; }

.categoryShop__title {
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase; }

.categoryShop__menu {
  margin-bottom: 2%;
  border-bottom: 1px solid #faf0f0;
  display: flex;
  justify-content: center; }
  .categoryShop__menu a {
    color: #faf0f0;
    text-decoration: none;
    padding: 10px 60px;
    display: block;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif; }
  .categoryShop__menu a:hover {
    color: #6fce5a; }
  .categoryShop__menu li {
    list-style: none; }

.rowShop {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  justify-items: center; }

.productCard {
  width: 65%;
  height: 55vh;
  background: linear-gradient(145deg, #faf0f0, #c4c6c9);
  border-radius: 10%;
  box-shadow: 2px 2px 10px #d1d2d3, -2px -2px 10px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-bottom: 8%;
  /* img{
        width: 70%;
    } */ }
  .productCard div {
    text-align: center;
    margin: 2%; }
  .productCard p {
    color: #545852; }

.productoCantidad {
  font-size: 1.5rem; }

.cantidadInput {
  text-align: center;
  width: 30%;
  font-size: 1.5rem; }

.btnAdd {
  display: block;
  width: 30vw;
  height: 6vh;
  margin: 2%;
  font-size: 1.3rem;
  transition: all .5s ease;
  position: relative; }

.btnAdd:hover {
  background: #007b00;
  color: #faf0f0 !important; }

.scale {
  -webkit-transition: .5s linear;
  transition: 1s linear; }

.scale:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/*FIN FRUTAS Y VERDURAS*/
/*OFERTAS*/
.nuevo {
  font-size: 1.2rem; }

.rowOferta {
  display: grid;
  grid-template-columns: 1fr; }

.cardOferta {
  border-radius: 5%;
  margin: 5%;
  align-items: center;
  box-shadow: 4px 4px 2px rgba(51, 49, 49, 0.712); }
  .cardOferta img {
    display: block;
    margin: 2%;
    box-shadow: 4px 4px 2px grey;
    margin-left: auto;
    margin-right: auto; }

.textoOfertas__title {
  margin-top: 3%;
  width: 100%;
  text-align: center; }

.textoOfertas__price {
  font-size: 2.5rem;
  color: #585757;
  font-weight: bold;
  padding: 2%;
  text-align: center; }

.btnOfertaVerDetalle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #006400;
  display: block;
  border: 1px solid #007b00;
  background-color: #6fce5a;
  padding: 5%;
  height: 7vh;
  color: #007b00;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }

.btnOfertaVerDetalle:hover {
  background: #42a432;
  color: #faf0f0 !important; }

/*FIN OFERTAS*/
/*PAGINAS DESCRIPCION DE CADA OFERTA*/
.backOfertas {
  text-decoration: none;
  color: #faf0f0;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif; }

.backOfertas:hover {
  color: #6fce5a; }

.descripcion {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.descripcion__imgOferta {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.descripcion__contenido, .descripcion__contenido--below {
  font-size: 2rem;
  padding: 2%;
  text-align: center; }

.descripcion__contenido--below {
  margin-top: 5%;
  font-weight: bold; }

.descripcion__downArrow {
  display: block;
  margin: auto; }

.centrarProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 3%; }

.centrarProductos_detalladoProductos {
  display: flex;
  align-items: center; }
  .centrarProductos_detalladoProductos p {
    padding: 2%;
    font-weight: bold; }

.priceDetallado {
  text-align: center;
  font-size: 3.5rem;
  border: 1px solid #faf0f0;
  color: #faf0f0;
  padding: 2%;
  margin: 2%; }

.btnDetallado {
  display: block;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer; }

.btnAnimationDetallado {
  color: #004d00;
  font-weight: bold;
  transition: all 0.5s;
  position: relative; }

.btnAnimationDetallado::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #41a43223;
  transition: all 0.3s; }

.btnAnimationDetallado:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5); }

.btnAnimationDetallado::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #006400;
  transform: scale(1.2, 1.2); }

.btnAnimationDetallado:hover::after {
  opacity: 1;
  transform: scale(1, 1); }

.volverArriba {
  text-align: center;
  margin-top: 4%; }

/*FIN PAGINAS DESCRIPCION DE CADA OFERTA*/
/*Página 404*/
.backgroundColor404 {
  background-color: white; }

.mainPage404 {
  display: flex;
  flex-direction: column; }
  .mainPage404 div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainPage404 div p {
      text-align: center;
      color: #000;
      font-size: 3rem;
      font-weight: bold; }
  .mainPage404 picture {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.boton404 {
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006400;
  border-radius: 6px;
  border: 2px solid #006400; }

.boton404:hover {
  color: #006400;
  background-color: #ffffff; }

/*FIN Página 404*/
/*MEDIA QUERIES*/
/*Estructura*/
@media only screen and (min-width: 769px) {
  /*Desktop*/
  h1, .pseudoh1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem;
    letter-spacing: 3px; }
  /*Header*/
  header {
    position: sticky;
    top: 0;
    z-index: 1000; }
  /*Footer*/
  .first {
    text-align: center; }
  .third {
    text-align: right; }
  .third h4::after {
    left: 80% !important; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /*Tablet*/
  h1, .pseudoh1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.5rem;
    letter-spacing: 3px; } }

/*FIN Estructura*/
/*Index*/
/*Desktop*/
@media only screen and (min-width: 769px) {
  .presentacion__eslogan {
    display: inline-block; }
  /*Carousel*/
  .titleCarousel p {
    font-size: 4rem; }
  .titleCarousel img {
    justify-self: start;
    width: 8%;
    margin-left: 150px; }
  /*Nosotros*/
  .centrar {
    border-top: 2px solid #006400;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .centrar__nosotrosIzq {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center; }
  .centrar__nosotrosDer {
    text-align: right;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center; }
  .imagenNosotros {
    margin: 20px; }
  /*Nuestros productos*/
  .contenedorNuestrosProductos {
    display: flex;
    flex-direction: column; }
  .contenedorNuestrosProductos__contenido {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0; } }

/*Tablet*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .presentacion__eslogan {
    display: inline-block;
    font-size: 2.3rem; }
  /*Carousel*/
  .titleCarousel p {
    font-size: 2rem -0.2; } }

/*FIN Index*/
/*Paginas de Frutas y Verduras*/
/*Desktop*/
@media only screen and (min-width: 769px) {
  .rowShop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; }
  .btnAdd {
    width: 12vw; }
  .productCard {
    width: 95%;
    height: 65vh; } }

/*Tablet*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .rowShop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem; }
  .btnAdd {
    width: 18vw; }
  .productCard {
    width: 85%;
    height: 65vh; } }

/*FIN Paginas de Frutas y Verduras*/
/*Pagina de Ofertas*/
/*Desktop*/
@media only screen and (min-width: 769px) {
  .rowOferta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem; }
  .cardOferta {
    margin: 5%; }
    .cardOferta img {
      margin: 5%;
      margin-left: 5%; }
  .textoOfertas__title {
    margin-top: 5%; }
  .textoOfertas__price {
    padding: 10%; } }

/*Tablet*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .rowOferta {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 2rem; } }

/*FIN Pagina de Ofertas*/
/*Paginas de detalle de Ofertas*/
/*Desktop*/
@media only screen and (min-width: 769px) {
  .descripcion {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .descripcion__contenido, .descripcion__contenido--below {
    font-size: 2rem; } }

/*Tablet*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .descripcion {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .descripcion__contenido, .descripcion__contenido--below {
    font-size: 2rem; } }

/*FIN Paginas de detalle de Ofertas*/
/*Page 404*/
/*FIN Page 404*/
@media only screen and (min-width: 769px) {
  .mainPage404 {
    flex-direction: row; }
    .mainPage404 picture {
      display: inline-block;
      margin-left: 5%;
      margin-right: 0; } }

/*FIN MEDIA QUERIES*/
