/*Página 404*/

.backgroundColor404{
    background-color:  white;
}

.mainPage404 {
    display: flex;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            text-align: center;
            color: #000;
            font-size: $tamanioFuentePrincipal+1;
            font-weight: bold;
        }

    }
    
}

.boton404{
    text-align: center;
    font-size: $tamanioFuentePrincipal+1;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: $verdePrincipal;
    border-radius: 6px;
    border: 2px solid $verdePrincipal;
}

.boton404:hover{
    color: $verdePrincipal;
    background-color: #ffffff;
}




/*FIN Página 404*/