/*Página 404*/

.backgroundColor404{
    background-color:  white;
}

.mainPage404 img{
    display: block;
    margin: auto;
}

.mainPage404 p{
    color: #000;
    font-size: 3rem;
}
/*FIN Página 404*/