/*INDEX*/

.presentacion{
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template: "hoja tituloPrincipal"
    "hoja eslogan";
}

.presentacion__hoja{
    grid-area: hoja;
    justify-self: end;
}

.presentacion__tituloPrincipal{
    grid-area: tituloPrincipal;
    justify-self: start;
}

.presentacion__eslogan{
    color: #42a432;
    font-family: 'Dancing Script', cursive;
    margin-top: -18px; 
    margin-left: 150px;
    grid-area: eslogan;
}


/*Carousel*/
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: $tamanioFuentePrincipal+1;
}

.titleCarousel{
    display: flex;
    flex-direction: column;

    img{
        justify-self: start;
        width: 8%;
        margin-left: 150px;
    }

    p {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $tamanioFuentePrincipal*2;
        font-family: 'Sriracha', cursive;
        color: black;
        float: left;
        width: 40%;
        text-shadow: rgb(88, 86, 86) 0.2em 0.2em 0.2em; }
}

/*Nosotros*/
.centrar {
    border-top: 2px solid $verdePrincipal;
    display: flex;
    flex-direction: column;
    align-items: center; }
  
.centrar__nosotrosIzq {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }

.centrar__nosotrosDer {
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }

.imagenNosotros {
    margin: 20px;
    width: 50%; }

/*Nuestros Productos*/

.iconNuestrosProductos{
    font-size: 5.5rem;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 100px;
    color: #42a432;
}

.contenedorNuestrosProductos{
    display: flex;
    flex-direction: column;
}


.contenedorNuestrosProductos__contenido{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid $verdePrincipal;
    margin-top: 15px;
}

.listaNuestrosProductosNot{
    display: flex;
    font-size: 2rem;
    color: red;

    i{
        padding-right: 5%;
    }
}

.listaNuestrosProductos{
    display: flex;
    font-size: 2rem;
    margin-left: 3%;
    color: green;
    
    i{
        padding-right: 5%;
    }
}

.contenedorNuestrosProductos__parrafoConclusion{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 5%;
}

/*Contacto*/

.contacto__contenido{
    border-top: 2px solid $verdePrincipal;
    margin-top: 15px;
}

.contacto__contenido--padding{
    padding-top: 4%;
}

.contactoBoton{
    color: #eee1e1;
}

/*Estilo a los placeholders, botones y textos del contacto*/
::-webkit-input-placeholder {
    font-size: $tamanioFuentePrincipal*0.75;
}
::-moz-placeholder {
font-size: $tamanioFuentePrincipal*0.75;

}
:-ms-input-placeholder {
font-size: $tamanioFuentePrincipal*0.75;
}

.contactoBoton{
    font-size: $tamanioFuentePrincipal*0.75;
}
.contactoBoton--seleccioneDepartamento{
    @extend .contactoBoton;
    color: rgb(95, 94, 94);
}


/*FIN INDEX*/

