
/*MEDIA QUERIES*/

/*Estructura*/
@media only screen and (min-width:769px) {
    /*Desktop*/
    h1{
        font-size: $tamanioFuentePrincipal*2;
    }

    h2{
        font-size: $tamanioFuentePrincipal+1;
        letter-spacing: 3px;
    }

    /*Header*/
    header {
        position: sticky;
        top: 0;
        z-index: 1000; 
    }

    /*Footer*/
    .first {
        text-align: center;
    }

    .third {
        text-align: right;
    }

    .third h4::after {
            left: 80% !important;
    }
}

@media only screen and (min-width:480px) and (max-width:768px){
    /*Tablet*/
    h1{
        font-size: $tamanioFuentePrincipal+1;
    }

    h2{
        font-size: $tamanioFuentePrincipal+0.5;
        letter-spacing: 3px;
    }
}

/*FIN Estructura*/


/*Index*/

/*Desktop*/
@media only screen and (min-width:769px) {
    .presentacion__eslogan{
        display: inline-block;
    }

    /*Carousel*/
    .titleCarousel p{
            font-size: $tamanioFuentePrincipal*2;
    }

    .titleCarousel img{
        justify-self: start;
        width: 8%;
        margin-left: 150px;
    }

    /*Nosotros*/
    .centrar {
        border-top: 2px solid $verdePrincipal;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .centrar__nosotrosIzq {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center; 
    }
    .centrar__nosotrosDer {
        text-align: right;
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center; 
    }
    .imagenNosotros {
        margin: 20px; 
    }

    /*Nuestros productos*/
    .contenedorNuestrosProductos{
        display: flex;
        flex-direction: column;
    }
    .contenedorNuestrosProductos__contenido{
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }
    

}

/*Tablet*/
@media only screen and (min-width:480px) and (max-width:768px){
    .presentacion__eslogan{
        display: inline-block;
        font-size: 2.3rem;
    }

    /*Carousel*/
    .titleCarousel p{
        font-size: $tamanioFuentePrincipal -0.2;
    }
}

/*FIN Index*/

/*Paginas de Frutas y Verduras*/

/*Desktop*/
@media only screen and (min-width:769px){
    .rowShop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 2rem;
    }

    .btnAdd{
        width: 12vw;
    }

    .productCard{
        width: 95%;
        height: 65vh;
    }
}

/*Tablet*/
@media only screen and (min-width:480px) and (max-width:768px){
    .rowShop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }

    .btnAdd{
        width: 18vw;
    } 

    .productCard{
        width: 85%;
        height: 65vh;
    }
}

/*FIN Paginas de Frutas y Verduras*/

/*Pagina de Ofertas*/

/*Desktop*/
@media only screen and (min-width:769px){
    .rowOferta{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 2rem;
    }
    .cardOferta{
        margin: 5%;
        img{
            margin: 5%;
            margin-left: 5%;
        }
    }

    .textoOfertas__title{
        margin-top: 5%;
    }
    .textoOfertas__price{
        padding: 10%;
    }
}

/*Tablet*/
@media only screen and (min-width:480px) and (max-width:768px){
    .rowOferta{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 2rem;
    }
}

/*FIN Pagina de Ofertas*/

/*Paginas de detalle de Ofertas*/

/*Desktop*/
@media only screen and (min-width:769px){
    .descripcion{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .descripcion__contenido{
        font-size: $tamanioFuentePrincipal;
    }
}

/*Tablet*/
@media only screen and (min-width:480px) and (max-width:768px){
    .descripcion{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descripcion__contenido{
        font-size: $tamanioFuentePrincipal;
    }
}

/*FIN Paginas de detalle de Ofertas*/


/*FIN MEDIA QUERIES*/