/*OFERTAS*/

.nuevo{
    font-size: $tamanioFuentePrincipal*0.6;
}

.rowOferta {
    display: grid;
    grid-template-columns: 1fr;
}



.cardOferta{
    border-radius: 5%;
    margin: 5%;
    align-items: center;
    box-shadow: 4px 4px 2px rgba(51, 49, 49, 0.712);

    img{
        margin: 5%;
        box-shadow: 4px 4px 2px grey;
    }
}

.textoOfertas__title{
    margin-top: 8%;
    width: 100%;
    text-align: center;
}

.textoOfertas__price{
    font-size: $tamanioFuentePrincipal+0.5;
    color: rgb(88, 87, 87);
    font-weight: bold;
    padding: 10%;
    text-align: center;
}

.btnOfertaVerDetalle{
    font-family: 'Poppins', sans-serif;
    font-size: $tamanioFuentePrincipal*0.75;
    color: $verdePrincipal;
    display: block;
    border: 1px solid #007b00;
    background-color: #6fce5a;
    padding: 5%;
    height: 7vh;
    color: #007b00;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.btnOfertaVerDetalle:hover{
    background: #42a432;
    color: #fff !important;
}

/*FIN OFERTAS*/
