/*PAGINAS DESCRIPCION DE CADA OFERTA*/

.backOfertas{
    text-decoration: none;
    color: $blanco;
    font-size: $tamanioFuentePrincipal;
    font-family: 'Poppins', sans-serif;
}

.backOfertas:hover{
    color: $verdeHover;
}

.descripcion{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion__imgOferta{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.descripcion__contenido{
    font-size: $tamanioFuentePrincipal;
    padding: 2%;
    text-align: center;
}

.descripcion__contenido--below{
    @extend .descripcion__contenido;
    margin-top: 5%;
    font-weight: bold;
}

.descripcion__downArrow{
    display:block;
    margin:auto;
}

.centrarProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 3%;
}

.centrarProductos_detalladoProductos{
    display: flex;
    align-items: center;

    p{
        padding: 2%;
        font-weight: bold;
    }
}

.priceDetallado{
    text-align: center;
    font-size: $tamanioFuentePrincipal+1.5;
    border: 1px solid $blanco;
    color: $blanco;
    padding: 2%;
    margin: 2%;
}
.btnDetallado{
    display: block;
    font-size: $tamanioFuentePrincipal;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btnAnimationDetallado {
	color: $verdeSecundario;
    font-weight: bold;
	transition: all 0.5s;
	position: relative;
}
.btnAnimationDetallado::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #41a43223;
	transition: all 0.3s;
}
.btnAnimationDetallado:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btnAnimationDetallado::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid $verdePrincipal;
	transform: scale(1.2,1.2);
}
.btnAnimationDetallado:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.volverArriba{
    text-align: center;
    margin-top: 4%;
}


/*FIN PAGINAS DESCRIPCION DE CADA OFERTA*/